
/*-------------------------------------------------
Style Sheet
Version : 1.1
Author :  Da-Vin Ha
Create date : 2023. 02. 16. Da-Vin Ha
-------------------------------------------------*/


/* Layout */
body {}
.header .link, .portFolio, footer p {padding-left: 100px;padding-right: 100px;}
.header {height: 1055px; background: url(../images/main/visual_bg.jpg) no-repeat;background-position: center bottom; background-size: cover;width: 100%;}
.header .grab {display: table-cell;height: 100%;vertical-align: middle;}
.header .title {line-height: 1;font-size: 72px;font-weight: 600;color: #000;letter-spacing: -0.05em;text-align: left;display: inline-block;position: relative;margin-left: -15px;margin-bottom: 260px;}
.header .title .link {font-weight: 800;color: #fff;background: #007bf7;font-size: 24px;text-transform: uppercase;letter-spacing: 0;line-height: 86px;width: 164px;display: inline-block;text-align: center;border-radius: 100%;position: absolute;right: 30px;bottom: 20px;}
.header .title .link:hover, .header .title .link:active, .header .title .link:focus {color: #007bf7;background: #fff;}
.header .title span {font-size: 32px;display: block;color: #313434;font-weight: 500;line-height: 1.11;letter-spacing: -0.05em;margin-top: 10px;}
.header .title img {}
.header .link {display: block;width: 100%;height: 100%;position: relative;}
.header .nav {clear: both;text-align: left;display: inline-block;margin: 25px 0 125px;}
.header .nav a {font-size: 30px;color: #ff106a;display: inline-block;font-weight: 400;letter-spacing: 0;background: #fff;width: 167px;line-height: 56px;text-align: center;border-radius: 200px;}
.header .nav a:hover {color: #fff; background: #ff106a;}
.header .headText {position: absolute;z-index: 1;top: 87px;left: 33.4%;width: 430px;}
.header .headText .text {color: #000; font-size: 28px;line-height: 40px;font-family: 'NanumDdaAgDanDan';float: left;width: 50%;font-weight: bold;position: relative;}
.header .headText .text-2, .header .headText .text-4 {padding-left: 25px;letter-spacing: -0.01em;}
.header .headText .text-3 {letter-spacing: -0.025em;}
.header .headText .text span {font-family: 'NanumDdaAgDanDan';text-decoration: underline;position: absolute;right: 0;}
.header .headText .text a {display: inline-block;color: #fff;line-height: inherit;}
.header .headText .text1 {text-transform: uppercase}

footer {}
footer p {font-size: 24px;color: #0e0802;width: 100%;font-weight: 300;text-align: center;background: url(../images/main/footer_bg.jpg) no-repeat;background-size: cover;text-transform: uppercase;padding-top: 65px;padding-bottom: 90px;background-position: center;letter-spacing: 0.03em;}
footer p i {font-family: AppleGothic;font-style: normal;font-weight: normal;}

/* Top */
a.top {position: fixed; right: 40px; bottom: 40px; display: none; z-index: 20; background: #000; padding: 10px 8px; color: #fff; font-size: 11px; font-weight: bold; letter-spacing: 1px; border: 30px !important; display: ; display: inline-block;}


/* Portfolio */
.portFolio {padding-top: 30px;}
.portFolio ul {width: 100%;overflow: hidden;}
.portFolio ul li {float: left;width: 48.5%;margin-right: 3%;margin-bottom: 170px;}
.portFolio ul li .port-image {margin-bottom: 30px;background: #000; position: relative;}
.portFolio ul li .port-image .hover {position: absolute;left: 0;top:0;width:100%;height: 100%;font-size: 35px;text-align: center;display: table; opacity: 0;}
.portFolio ul li:hover .hover {opacity:1;}
.portFolio ul li .port-image .vertical {width: 100%;vertical-align: middle;z-index: 4;position: relative;opacity: 0;letter-spacing: 0;line-height: 1;display: inline-block;color: #fff;font-weight: normal;font-family: 'gadugib';text-transform: uppercase;font-size: 85px;display: table-cell;}
.portFolio ul li .port-image .vertical br {line-height: 50px;}
.portFolio ul li .port-image .dark {position: absolute; left: 0; top:0; width:100%; height: 100%;  background: #0a73ef; opacity: 0;}
.portFolio ul li .port-image img {width:100%; display: block;}
.portFolio ul li .port-text {}
.portFolio ul li .port-text .lable {font-size: 30px;color: #a8a8a8;font-weight: 300;margin-bottom: 10px;display: block;}
.portFolio ul li .port-text .tit {font-size: 30px;letter-spacing: 0;display: block;color: #0e0802;line-height: 1;margin-bottom: 18px;font-weight: 600;text-transform: uppercase;position: relative;padding-right: 150px;}
.portFolio ul li .port-text .tit .kind {font-size: 22.8px;color: #797878;font-weight: 300;position: absolute;text-align: right;letter-spacing: 0.02em;right: 0;top: 1px;}
.portFolio ul li .port-text .text {font-size: 19.5px;letter-spacing: 0;line-height: 30px;font-weight: 400;color: #000000;}
.portFolio ul li .port-text .text .bar {display: inline-block;width: 1px;height: 13px;background: #999;vertical-align: middle;margin: -2px 4px 0;}
.portFolio ul li .port-text .info {font-size: 24px;letter-spacing: 0px;color: #d4d4d4;line-height: 1;margin-bottom: 12px;font-weight: 500;}
.portFolio ul li .port-text .info-1 {}
.portFolio ul li .port-text .info-2 {}
.portFolio ul li .port-text .info-3 {}
.portFolio ul li .port-image .vertical-1 {}
.portFolio ul li .port-image .vertical-2 {}
.portFolio ul li .port-image .vertical-3 {}
.portFolio ul li .port-text .info span {display: block;line-height: 1.7; letter-spacing: 1.5;}
.portFolio ul li .port-text a {display: block;width: 100%;height: 100%;}
.portFolio ul li > a:hover .vertical
{opacity:1; z-index: 3;}
.portFolio ul li > a:hover .dark
{opacity: 0.75; z-index: 2;}

.portFolio ul li:nth-of-type(2), 
.portFolio ul li:nth-of-type(4),
.portFolio ul li:nth-of-type(6),
.portFolio ul li:nth-of-type(8),
.portFolio ul li:nth-of-type(10)
{margin-right: 0;}

.portFolio ul li:nth-of-type(9) .port-text .text,
.portFolio ul li:nth-of-type(10) .port-text .text
{min-height: auto;}

.cntTop-wrap img {width: 80px;}


/* **************************************** *
 * Responsive
 * **************************************** */

/* PC */
@media (max-width:1550px) {
  
  .header {height: 900px;}
  .header .title .link {}
  .header .headText {top: 55px;left: 30%;}

  .header .link, .portFolio, footer p {padding-left: 60px;padding-right: 60px;}

  .portFolio {padding-top: 20px;}
  .portFolio ul li {margin-bottom: 130px;}
  .portFolio ul li .port-text .tit {font-size: 28px;}
  .portFolio ul li .port-image {}
  .portFolio ul li .port-text .lable {}
  .portFolio ul li .port-text .text {font-size: 19px;}

  footer p {font-size: 22px;padding-top: 60px;padding-bottom: 70px;}
  
  .cntTop-wrap img {}
    
}

/* PC */
@media (max-width:1300px) {
    
  .header {height: 750px;}
  .header .headText {top: 35px;left: 28%;}
  .header .headText .text {font-size: 27px;line-height: 36px;}

  .header .link, .portFolio, footer p {padding-left: 50px;padding-right: 50px;}
  
  .portFolio {padding-top: 10px;}
  .portFolio ul li {margin-bottom: 70px;width: 48.5%;margin-right: 3%;}
  .portFolio ul li .port-image {}
  .portFolio ul li .port-text .tit {font-size: 26px;padding-right: 80px;margin-bottom: 13px;}
  .portFolio ul li .port-text .tit .kind {font-size: 19px;top: -2px;}
  .portFolio ul li .port-text .text {font-size: 18px;}

  footer p {font-size: 19px;padding-top: 45px;padding-bottom: 60px;}
  
  .cntTop-wrap {right: 40px;bottom: 10%;}
  .cntTop-wrap img {width: 75px;}
  

  
}

/* PC */
@media (max-width:1100px) {
  
  .header {height: 650px;}
  
  .header .headText {top: 25px;width: 380px;}
  .header .headText .text {line-height: 32px;font-size: 25px;}

  .header .link, .portFolio, footer p {padding-left: 40px;padding-right: 40px;}

  .portFolio {padding-top: 10px;}
  .portFolio ul li {width: 48.5%;margin-right: 3%;margin-bottom: 60px;}
  .portFolio ul li .port-image {margin-bottom: 20px;}
  .portFolio ul li .port-text .tit {font-size: 24px;line-height: 1.3;margin-bottom: 8px;}
  .portFolio ul li .port-text .tit .kind {font-size: 18px;top: 0;}
  .portFolio ul li .port-text .text {font-size: 17px;line-height: 26px;}
  .portFolio ul li .port-image .vertical {font-size: 48px;}

  footer p {font-size: 18px;}

  .cntTop-wrap {right: 35px;}
  .cntTop-wrap img {width: 70px;}

  
    
}

/* Tablet */
@media (max-width:960px) {
  
  
  .header {height: 600px;}
  .header .headText {width: 370px;left: 26%;}
  .header .headText .text {line-height: 32px;font-size: 24px;}

  .header .portFolio, footer p {}

  .portFolio {}
  .portFolio ul li {width: 48%;margin-right: 4%;}
  .portFolio ul li .port-image {}
  .portFolio ul li .port-text .tit {font-size: 22px;line-height: 1.2;}
  .portFolio ul li .port-text .tit .kind {font-size: 17px;}
  .portFolio ul li .port-text .text {font-size: 16px;text-align: justify;}

  footer p {font-size: 17px;padding-top: 35px;padding-bottom: 45px;}
 
  .cntTop-wrap img {width: 65px;}
  .cntTop-wrap {}

  
    
}
 

/* Mobile */
@media (max-width:768px) {
  
  .header {height: 580px;}
  .header .headText {left: 22%;top: 20px;}
  .header .headText .text {}

  .header .link, .portFolio, footer p {padding-left: 25px;padding-right: 25px;}

  .portFolio ul li {width: 100%;margin-right: 0;margin-bottom: 40px;}
  .portFolio ul li .port-image {margin-bottom: 25px;}
  .portFolio ul li .port-text .tit {margin-bottom: 4px;}
  .portFolio ul li .port-text .text {line-height: 25px;text-align: left;}
  .portFolio ul li .port-text .tit .kind {font-size: 17px;top: -2px;}

  footer p {font-size: 15px;}
  .cntTop-wrap img {width: 70px;}
    
}

/* Mobile */
@media (max-width:640px) {
  
  .header {height: 500px;}
  
  .header .title {}
  
  .header .headText {left: 18%;top: 15px;width: 340px;}
  .header .headText .text {font-size: 22px;line-height: 26px;}

  .portFolio, footer p {padding-left: 15px;padding-right: 15px;}

  .portFolio {padding-top: 0px;}
  .portFolio ul li .port-image {margin-bottom: 15px;}
  .portFolio ul li .port-text .tit {font-size: 21px;margin-bottom: 8px;}
  .portFolio ul li .port-text .tit .kind {font-size: 15px;}
  .portFolio ul li .port-text .text {font-size: 15px;line-height: 23px;}

  footer {margin-top:0px;}
  footer p {font-size: 13px;}
  
  .cntTop-wrap {right: 25px;bottom: 58px;}
  .cntTop-wrap img {width: 63px;}
    
}

/* Mobile */
@media (max-width:460px) {
  
  .header {height: 450px;}
  .header .title img {width: 280px;}
  .header .title .link {font-size: 14px;width: 105px;line-height: 53px;right: -40px;bottom: 0;}
  .header .title {margin-bottom: 40px;}
  .header .headText {width: 310px;left: 13%;}
  .header .headText .text {font-size: 20px;line-height: 23px;}
  .header .nav {}
  .header .nav a {font-size: 16px;width: 115px;}

  .portFolio, footer p {}

  .portFolio {}
  .portFolio ul li {margin-bottom: 30px;}
  .portFolio ul li .port-image {}
  .portFolio ul li .port-text .tit {font-size: 20px;}
  .portFolio ul li .port-text .text {font-size: 14px;line-height: 22px;}
  .portFolio ul li .port-text .tit .kind {font-size: 14px;}

  footer p {margin-top: 0;}
  
  .cntTop-wrap {right: 12px;bottom: 60px;}
  .cntTop-wrap img {width: 58px;}

    
}

/* Mobile */
@media (max-width:380px) {
  
  .header {height: 450px;}
  .header .headText {}
  .header .headText .text {font-size: 19px;}
  .header .headText .text-2, .header .headText .text-4 {padding-left: 11px;}
  .header .headText {width: 310px;left: 6%;}

  .portFolio ul li .port-text .tit {font-size: 18px;}
  .portFolio ul li .port-text .text {}
  
  footer p {font-size: 11px;padding-left: 0;padding-right: 0;padding-top: 30px;padding-bottom: 30px;}
  
  .cntTop-wrap {bottom: 43px;}
  .cntTop-wrap img {width: 53px;}
    
}
 

